* { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    
}
html { font-size: 62.5%; }
body { font-size: 1.6rem; }
/*boilerplate end*/
.container * { border: solid 1px; }

body{
    background-color: lightcyan;
}

.container {
    display: flex;
    flex-flow: column wrap;
    width: 40rem;
    height: 50rem;
}
#display {
    flex: 1;
    width: 75%;
    max-width: 75%;
}
#numContainer {
    flex: 3;
    width: 75%;
}
#opContainer {
    width: 25%;
    min-height: 100%;
    flex: 1 0 auto;
}