* { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    
}
html { font-size: 62.5%; }
body { font-size: 1.6rem; }
/*boilerplate end*/
.container * { 
    display: flex;
}

body{
    background-color: #c6acdf;
}

.container {
    display: flex;
    flex-flow: column wrap;
    width: 40rem;
    height: 50rem;
    margin-top: 5rem;
}
#display {
    flex: 1;
    width: 75%;
    max-width: 75%;
    border: 5px solid;
    justify-content: flex-end;
    padding-right: 3rem;
    padding-left: 3rem;
    align-items: center;
    flex-flow: row wrap;
    font-size: 3rem;
    background-color: lightgrey;
}
#numContainer {
    flex: 3;
    width: 75%;
    flex-flow: row wrap;
    justify-content: space-around;
}
#opContainer {
    width: 25%;
    min-height: 100%;
    flex-flow: row wrap;
    flex: 1 0 auto;
}

#backspaceClear {

    flex-flow: column;
}
button, #backspaceClear {
    min-width: 10rem;
    min-height: 10rem;
    display: flex;
}

button {
    justify-content: space-around;
    align-items: center;
    font-size: 3rem;
}

#backspace, #clear {
    min-height: 5rem;
    max-height: 5rem;
}